
.DS_Store

__pycache__/
*.pyc

/build/
/dist/
*.egg-info/

/venv/
/.idea/

/docs/source/build/
/docs/source/generated/
/docs/source/external/

/.mypy_cache/
/.pytest_cache/
/.coverage
/htmlcov/

/examples/*.png

# The Cozmo application, which the Wwise Vorbis codebooks are extracted from. It is Anki's, not ours
# to publish.
*.apk
